{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {{ slug }}<br>
    {% for block in blocks %}
      <span>{{ block.getContent() }} - {% if block.getImage() %}<img src={{ asset(block.getImage()) }}>{% endif %}</span><br>
    {% endfor %}
{% endblock %}