{% extends 'base.html.twig' %}

{% block content %}
    <div class="px-24 py-8 max-w-screen-xl mx-auto">
        <div class="container flex">
            <div class="basis-1/2">
                <span class="flex items-center px-1 text-xl text-green">
                    <span class="font-medium">
                        New ! Different !
                                                                                            
                                                                    
                                            
                    </span>
                </span>
                <h1 class="pt-4 text-4xl sm:text-5xl lg:text-6xl font-bold tracking-tighter leading-tight">
                    Better ways to research skincare Hybrid clinical trials and consumer studies
                                                                            
                                                        
                                    
                </h1>
            </div>
            <div class="basis-1/2">
                <div class="relative">
                    <img class="w-auto h-[16rem] relative rounded" src="/images/women.png" alt="" />
                    <img class="w-auto h-[16rem] top-[60%] right-[100px] rounded border-l-8 border-t-8 border-white absolute" src="/images/soap.png" alt="" />
                </div>
            </div>
        </div>

    </div>
    <div class="px-24 py-8 max-w-screen-xl mx-auto bg-wiredblue mt-24 rounded">
        <div class="flex flex-col justify-center items-center">
            <p>
                Our Webinar on Antioxydatives
            </p>
            <div class="inline-flex rounded-md shadow my-8">
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-wiredgreen hover:bg-wiredgreen/80">
                    Get started 
                </a>
            </div>
            <p>
                Trust Pilot – Best app for skin care research.
            </p>
        </div>
    </div>

    <div class="px-24 py-8 max-w-screen-xl mx-auto mt-12">
        <div class="flex">
            <h2 class="pt-4 text-4xl sm:text-3xl lg:text-4xl tracking-tighter leading-tight w-[200px]">
                Contact Us
            </h2>
            <div class="border-solid border-b-2 w-full"></div>
        </div>
        <div class="flex flex-col">
            <p class="mt-8 text-2xl tracking-tighter leading-tight">
                +33 6 71 66 24 25
            </p>
            <p class="mt-8 text-2xl tracking-tighter leading-tight">
                Want to try ours products and services ?
            </p>
            <div>
                <div class="inline-flex rounded-md shadow my-8">
                    <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-wiredgreen hover:bg-wiredgreen/80">
                        Book a Demo
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="px-24 py-8 max-w-screen-xl mx-auto mt-12">
        <div class="flex">
            <h2 class="pt-4 text-4xl sm:text-3xl lg:text-4xl tracking-tighter leading-tight w-[350px]">
                Our Collaborators
            </h2>
            <div class="border-solid border-b-2 w-full"></div>
        </div>
        <div class="flex justify-around items-center my-8">
            <img class="w-auto h-[3rem] relative rounded" src="/images/colab1.png" alt="" />
            <img class="w-auto h-[3rem] relative rounded" src="/images/colab2.png" alt="" />
            <img class="w-auto h-[3rem] relative rounded" src="/images/colab3.png" alt="" />
        </div>
    </div>

    <div class="w-full bg-slate-200 h-32">

    </div>
{% endblock %}
